@import url("reset.css");

body {
    box-sizing: border-box;
    background-image: url("../assets/body-background.jpg");
    background-color: skyblue;
}

.menu-container {
    width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 2rem;
    font-weight: bold;
}

.sketch-area-container {
    height: 50rem;
    width: 50rem;   
    background-color: red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch-area {
    height: 40rem;
    width: 40rem;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;    
}

.tile {
    background-color: white;
    height: 4rem;
    width: 4rem;

    &:hover {
        background-color: black;
    }
}

.heading-container {
    width: 40rem;
    margin: 0 auto;
}

.heading {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.factor-2 {
    height: 20rem;
    width: 20rem;
}

.factor-3 {
    height: 13.3rem;
    width: 13.3rem;
}

.factor-4 {
    height: 10rem;
    width: 10rem;
}

.factor-5 {
    height: 8rem;
    width: 8rem;
}

.factor-6 {
    height: 6.6rem;
    width: 6.6rem;
}

.factor-7 {
    height: 5.7rem;
    width: 5.7rem;
}

.factor-8 {
    height: 5rem;
    width: 5rem;
}

.factor-9 {
    height: 4.4rem;
    width: 4.4rem;
}

.factor-10 {
    height: 4rem;
    width: 4rem;
}