@import url("reset.css");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../assets/body-background.jpg");
  background-color: skyblue;
}

.menu-container {
  width: 40rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  font-size: 2rem;
  font-weight: bold;
}

.sketch-area-container {
  height: 50rem;
  width: 50rem;
  background-color: red;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sketch-area {
  height: 40rem;
  width: 40rem;
  background-color: lightgray;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

.space-10x10 {
  -ms-grid-rows: (4rem)[10];
      grid-template-rows: repeat(10, 4rem);
  -ms-grid-columns: (4rem)[10];
      grid-template-columns: repeat(10, 4rem);
}

.space-20x20 {
  -ms-grid-rows: (2rem)[20];
      grid-template-rows: repeat(20, 2rem);
  -ms-grid-columns: (2rem)[20];
      grid-template-columns: repeat(20, 2rem);
}

.space-30x30 {
  -ms-grid-rows: (1.33rem)[30];
      grid-template-rows: repeat(30, 1.33rem);
  -ms-grid-columns: (1.33rem)[30];
      grid-template-columns: repeat(30, 1.33rem);
}

.space-40x40 {
  -ms-grid-rows: (1rem)[40];
      grid-template-rows: repeat(40, 1rem);
  -ms-grid-columns: (1rem)[40];
      grid-template-columns: repeat(40, 1rem);
}

.space-50x50 {
  -ms-grid-rows: (0.8rem)[50];
      grid-template-rows: repeat(50, 0.8rem);
  -ms-grid-columns: (0.8rem)[50];
      grid-template-columns: repeat(50, 0.8rem);
}

.space-60x60 {
  -ms-grid-rows: (0.66rem)[60];
      grid-template-rows: repeat(60, 0.66rem);
  -ms-grid-columns: (0.66rem)[60];
      grid-template-columns: repeat(60, 0.66rem);
}

.space-70x70 {
  -ms-grid-rows: (0.57rem)[70];
      grid-template-rows: repeat(70, 0.57rem);
  -ms-grid-columns: (0.57rem)[70];
      grid-template-columns: repeat(70, 0.57rem);
}

.space-80x80 {
  -ms-grid-rows: (0.5rem)[80];
      grid-template-rows: repeat(80, 0.5rem);
  -ms-grid-columns: (0.5rem)[80];
      grid-template-columns: repeat(80, 0.5rem);
}

.space-90x90 {
  -ms-grid-rows: (0.44rem)[90];
      grid-template-rows: repeat(90, 0.44rem);
  -ms-grid-columns: (0.44rem)[90];
      grid-template-columns: repeat(90, 0.44rem);
}

.space-100x100 {
  -ms-grid-rows: (0.4rem)[100];
      grid-template-rows: repeat(100, 0.4rem);
  -ms-grid-columns: (0.4rem)[100];
      grid-template-columns: repeat(100, 0.4rem);
}

.tile {
  background-color: white;
}

.heading-container {
  width: 40rem;
  margin: 0 auto;
}

.heading {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.factor-2 {
  height: 20rem;
  width: 20rem;
}

.factor-3 {
  height: 13.3333333333rem;
  width: 13.3333333333rem;
}

.factor-4 {
  height: 10rem;
  width: 10rem;
}

.factor-5 {
  height: 8rem;
  width: 8rem;
}

.factor-6 {
  height: 6.66666666667rem;
  width: 6.66666666667rem;
}

.factor-7 {
  height: 5.71428571429rem;
  width: 5.71428571429rem;
}

.factor-8 {
  height: 5rem;
  width: 5rem;
}

.factor-9 {
  height: 4.44444444444rem;
  width: 4.44444444444rem;
}

.factor-10 {
  height: 4rem;
  width: 4rem;
}

.factor-20 {
  height: 2rem;
  width: 2rem;
}

.factor-30 {
  height: 1.33rem;
  width: 1.33rem;
}

.factor-40 {
  height: 1rem;
  width: 1rem;
}

.factor-50 {
  height: .8rem;
  width: .8rem;
}

.factor-60 {
  height: .66rem;
  width: .66rem;
}

.factor-70 {
  height: .57rem;
  width: .57rem;
}

.factor-80 {
  height: .5rem;
  width: .5rem;
}

.factor-90 {
  height: .44rem;
  width: .44rem;
}

.factor-100 {
  height: .4rem;
  width: .4rem;
}

.tile-change-color {
  background-color: black;
}
/*# sourceMappingURL=main.css.map */